<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.be.mapper.DynamicTableMapper">

    <select id="getAllTableNames" resultType="string">
        SELECT table_name
        FROM information_schema.tables
        WHERE table_schema = 'public'
          AND table_type = 'BASE TABLE'
          AND table_name NOT LIKE 'pg_%'
          AND table_name NOT LIKE 'sql_%'
    </select>

    <select id="tableExists" parameterType="string" resultType="boolean">
        SELECT COUNT(*)
        FROM information_schema.tables
        WHERE table_schema = 'public' AND table_name = #{tableName}
    </select>

    <select id="getTableData" parameterType="string" resultMap="mapResult">
        SELECT * FROM ${tableName} LIMIT 1000
    </select>

    <select id="getTableSchema" parameterType="string" resultMap="mapResult">
        SELECT column_name, data_type, is_nullable
        FROM information_schema.columns
        WHERE table_schema = 'public' AND table_name = #{tableName}
        ORDER BY ordinal_position
    </select>

    <select id='getSpatialTables' resultType="string">
        SELECT f_table_name
        FROM geometry_columns
        WHERE f_table_schema = 'public'
    </select>

    <resultMap id="mapResult" type="map">
        <id property="column_name" column="column_name"/>
        <result property="data_type" column="data_type"/>
        <result property="is_nullable" column="is_nullable"/>
    </resultMap>

<select id="getSpatialTableGeojson" parameterType="string" resultType="string">
    SELECT jsonb_build_object(
        'type', 'FeatureCollection',
        'features', jsonb_agg(
            jsonb_build_object(
                'type', 'Feature',
                'geometry', ST_AsGeoJSON(geom)::jsonb,
                'properties', to_jsonb(sub) - 'geom'
            )
        )
    ) AS geojson
    FROM (
        SELECT * 
        FROM ${tableName}
    ) AS sub
</select>

</mapper>
